<header>
  <div class="container-fluid">
    <div class="main-header ">
      <div class="main-nav">
        <nav class="navbar">
          <div class="navbar-header">
            <a href="#" class="navbar-brand">
              <img src="assets/images/logo.png" alt="">
            </a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#my-nav">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div class="collapse navbar-collapse" id="my-nav">
            <ul class="nav navbar-nav">
              <li class="current-menu-item">
                <a href="#">Home</a>
                <ul class="dropdown-lebel1">
                  <li>
                    <a href="#">link 1</a>
                    <ul class="dropdown-lebel2">
                      <li>
                        <a href="#">link 1-1</a>
                      </li>
                      <li>
                        <a href="#">Link 1-2</a>
                      </li>
                      <li>
                        <a href="#">Link 1-3</a>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <a href="#">link 3</a>
                  </li>
                  <li>
                    <a href="#">link 2</a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="#">About us </a>
                <ul class="dropdown-lebel1">
                  <li>
                    <a href="#">link 1</a>
                    <ul class="dropdown-lebel2">
                      <li>
                        <a href="#">link 1-1</a>
                      </li>
                      <li>
                        <a href="#">Link 1-2</a>
                      </li>
                      <li>
                        <a href="#">Link 1-3</a>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <a href="#">link 3</a>
                  </li>
                  <li>
                    <a href="#">link 2</a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="#"> Blog </a>
              </li>
              <li>
                <a href="#"> Contact</a>
              </li>
            </ul>
          </div>
          <div class="userprofile">
            <ul>
              <li>
                <a href="#">
                  <i class="fa fa-bell" aria-hidden="true"></i>
                </a>

              </li>
              <li>
                <span></span>
                <ul>
                  <li>
                    <a href="#">Name</a>
                  </li>
                  <li>
                    <a href="#">Sign Out</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </div>
</header>
<section>
  <div class="container-fluid">
    <div class="wrrapermain">
      <div class="wrraper">
        <div class="row">
          <div class="col-sm-12 no-padding DashboardTop">
            <div class="col-sm-3 no-padding dashboardlscol">
              <div class="dashboard-volumn">
                <div class="col-sm-12 no-padding">
                  <div class="col-sm-4 no-padding dashboard-volumn-lst">
                    <img src="assets/images/img1.png" alt="">
                  </div>
                  <div class="col-sm-8 no-padding dashboard-volumn-lst">
                    <p>Capacity</p>
                    <h3>13.28</h3>
                  </div>
                </div>
                <h6>
                  <a href="#">
                    <i class="fa fa-refresh" aria-hidden="true"></i> Updated now</a>
                </h6>
              </div>
            </div>
            <div class="col-sm-3 no-padding dashboardlscol">
              <div class="dashboard-volumn">
                <div class="col-sm-12 no-padding">
                  <div class="col-sm-4 no-padding dashboard-volumn-lst">
                    <img src="assets/images/img2.png" alt="">
                  </div>
                  <div class="col-sm-8 no-padding dashboard-volumn-lst">
                    <p>Capacity</p>
                    <h3>13.28</h3>
                  </div>
                </div>
                <h6>
                  <a href="#">
                    <i class="fa fa-refresh" aria-hidden="true"></i> Updated now</a>
                </h6>
              </div>
            </div>
            <div class="col-sm-3 no-padding dashboardlscol">
              <div class="dashboard-volumn">
                <div class="col-sm-12 no-padding">
                  <div class="col-sm-4 no-padding dashboard-volumn-lst">
                    <img src="assets/images/img3.png" alt="">
                  </div>
                  <div class="col-sm-8 no-padding dashboard-volumn-lst">
                    <p>Capacity</p>
                    <h3>13.28</h3>
                  </div>
                </div>
                <h6>
                  <a href="#">
                    <i class="fa fa-refresh" aria-hidden="true"></i> Updated now</a>
                </h6>
              </div>
            </div>
            <div class="col-sm-3 no-padding dashboardlscol">
              <div class="dashboard-volumn">
                <div class="col-sm-12 no-padding">
                  <div class="col-sm-4 no-padding dashboard-volumn-lst">
                    <img src="assets/images/img4.png" alt="">
                  </div>
                  <div class="col-sm-8 no-padding dashboard-volumn-lst">
                    <p>Capacity</p>
                    <h3>13.28</h3>
                  </div>
                </div>
                <h6>
                  <a href="#">
                    <i class="fa fa-refresh" aria-hidden="true"></i> Updated now</a>
                </h6>
              </div>
            </div>
          </div>
        </div>
        <div class="Tabledata">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>Jan</th>
                  <th>Feb</th>
                  <th>Mar</th>
                  <th>Apr</th>
                  <th>May</th>
                  <th>Jun</th>
                  <th>Jul</th>
                  <th>Aug</th>
                  <th>Sep</th>
                  <th>Oct</th>
                  <th>Nov</th>
                  <th>Dec</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>25</td>
                  <td>2018</td>
                  <td>356</td>
                  <td>26</td>
                  <td>98</td>
                  <td>245</td>
                  <td>25</td>
                  <td>98</td>
                  <td>48</td>
                  <td>69</td>
                  <td>36</td>
                  <td>98</td>
                </tr>
                <tr>
                    <td>25</td>
                    <td>2018</td>
                    <td>356</td>
                    <td>26</td>
                    <td>98</td>
                    <td>245</td>
                    <td>25</td>
                    <td>98</td>
                    <td>48</td>
                    <td>69</td>
                    <td>36</td>
                    <td>98</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="bar-chart">
          <div class="col-xs-12 col-sm-6" style="display: block">
            <div class="bar-chart-col">
              <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend"
                [chartType]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6">
            <div class=" bar-chart-col" style="display: block;">
              <canvas baseChart [datasets]="lineChartDataLine" [labels]="lineChartLabelsLine" [options]="lineChartOptions" [colors]="lineChartColors"
                [legend]="lineChartLegend" [chartType]="lineChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
            </div>
          </div>
        </div>
        <div class="bar-chart">
          <div class="col-xs-12 col-sm-6">
            <div class="bar-chart-col">
              <canvas baseChart [data]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions" [chartType]="lineChartType"
                (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6">
            <div class="bar-chart-col">
              <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType" (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
<footer>
  <div class="container-fluid">
    <div class="footerarea">
      <p>&copy;Copyright 2018, All right reserved.</p>
    </div>
  </div>
</footer>